<!DOCTYPE html>
<html>
<head>
    <title>Donor Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <img class="logo" src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo"> 
         <h1>Donor Registration</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <form method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" required><br><br>

            <input type="submit" value="Register">
        </form>
        <p><a href="/">Home</a></p>
    </div>
</body>
<footer>
    <p>&copy; 2025 Doc_rearview</p>
</footer>
</html>